@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

html {
  height: fill-available;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(40,40,40);
  background: linear-gradient(158deg, rgba(40,40,40,1) 0%, rgba(30,30,30,1) 100%);

  color: #fff;
  font-family: Arial;
  font-size: 12px;

  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

section {
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

section h1 {
  width: max-content;
  white-space: nowrap;
  color: orange;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  font-size: 35px;
  text-align: center;
}

form {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

a span {
  color: orange;
  text-decoration: underline;
  margin: 10px 0;
}

input {
  box-sizing: border-box;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  width: 100%;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin: 10px 0;
}


input[type="submit"] {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;

  height: 35px;
  background-color: orange;
  border-color: black;
  cursor: pointer;
  border-radius: 2px;
  border-radius: 10px;

  font-size: 16px;

  padding: 6px;
  margin: 30px 0;
}

input[type="submit"]:hover {
  color: black;
}

input[type="submit"]:active {
  opacity: 0.6;
}

input:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}


input[type="button"]:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
